# This file is used to store BotPasswords.
#
# As a simpler (but less secure) alternative to OAuth, MediaWiki allows bot
# users to uses BotPasswords to limit the permissions given to a bot.
# When using BotPasswords, each instance gets keys. This combination can only
# access the API, not the normal web interface.
#
# See https://www.mediawiki.org/wiki/Manual:Pywikibot/BotPasswords for more
# information.
#
# Go to Special:BotPasswords on any wiki.
# Type a name for this password into the box (recommended to use "PWB") and hit Create.
# This newly generated password is only used for logging into your bot via external programs
# when logging in through the browser, use its normal password.
# Warning: Never, EVER share this password with anyone! 

('YourUserNameHere', YourBotNameHere('wiki.gg', 'YourBotPasswordHere'))
